.custom-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added position */
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #00202e;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000078;
  z-index: 1000; /* Ensure the modal overlay appears above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000 !important;
  border-radius: 3px;
}

.modal-button-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  width: 100%;
}

.modalbutton {
  margin-top: 1rem;
  align-self: center;
  width: 48%;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff6361 !important;
  color: white !important;
  border-color: white !important;
}

.modalbutton:hover {
  background-color: white !important;
  color: black !important;
  border: solid;
}
